html {
    padding: 0;
    margin: 0;

    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.content {
    margin: 0;
    padding: 0 20px;
}

.headerbar {
    width: calc(100% - 100px);
    margin: 0 0 30px 0;
    padding: 2px 50px;
    height: 50px;

    background-color: #0077ee;
    color: white;

    box-shadow: 0 2px 10px 5px rgba(0,0,0,0.5);

    display: grid;
    grid-auto-flow: column
}

.headertitle {
    text-align: left;
}

.headerbar img {
    height: 46px;
    width: auto;
}

.error {
    color: #aa0000;
    font-weight: bold;
}

.converter {
    display: grid;
    border: 1px solid black;
    width: max-content;
    grid-gap: 10px;
    padding: 10px;
    grid-template: "sbasel tbasel" "sbase tbase" "signed floating" "hr hr" "inl in" ". subm";
}

input[type="checkbox"] {
    float: right;
}

.sbasel {grid-area: sbasel;}
.tbasel {grid-area: tbasel;}
.sbase {grid-area: sbase;}
.tbase {grid-area: tbase;}
.signed {grid-area: signed;}
.floating {grid-area: floating;}
.inl {grid-area: inl;}
.in {grid-area: in;}
.subm {grid-area: subm;}

.converter hr {
    grid-area: hr;
    width: 100%;
}

.supported, .supported * {
    border-collapse: collapse;
}

.supported tr th,td {
    text-align: center;
    padding: 5px;
}

.supported tr td {
    font-size: 2em;
}

.grey {
    background-color: lightgrey;
}
