{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <title>Base Converter | By Oliver Gaskell</title>
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>

    <body>
        <div class="headerbar">
            <a href="/"><img src="{% static 'logo.png' %}"></a>
            <h3 class="headertitle">Base converter</h3>
            <h4><a href="/supported">Supported Conversions</a></h4>
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
