{% extends "app/base.html" %}

{% block content %}

<h2>Result: </h2>
<p>Input: {{input}}, Base {{inbase}}</p>
<p>Result: {{result}}, Base {{resultbase}}</p>

<hr>

<h2>Convert another:</h2>

<form class="converter" action="/convert" method="post">
    {% csrf_token %}
    <label class="sbasel">Input Base</label>
    <select name="sbase" class="sbase">
        <option value="bin">2 - Binary</option>
        <option value="dec">10 - Denary</option>
        <option value="hex">16 - Hexadecimal</option>
    </select>

    <label class="tbasel">Target Base</label>
    <select name="tbase" class="tbase">
        <option value="bin">2 - Binary</option>
        <option value="dec">10 - Denary</option>
        <option value="hex">16 - Hexadecimal</option>
    </select>

    <div class="signed">
        <label for="signed">Signed</label>
        <input type="checkbox" name="signed">
    </div>

    <div class="floating">
        <label for="floating">Floating Point</label>
        <input type="checkbox" name="floating">
    </div>

    <hr>

    <label class="inl">Input</label>
    <input type="text" name="in" class="in">

    <input type="submit" class="subm" value="Convert">
</form>

{% endblock %}
